In [1]:
l = [1,2,3,4,5,]

In [3]:
for i in l:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [4]:
l1 = ["sudh", "kumar", "krish", "naik"]

In [6]:
for i in l1:
    print(i)

sudh
kumar
krish
naik

In [7]:
1

1

In [8]:
l1

['sudh', 'kumar', 'krish', 'naik']

In [10]:
for i in l1:
    print(i)
else:
    print("if for loop is able to complete itsef then only esle will execute")

sudh
kumar
krish
naik
if for loop is able to complete itsef then only esle will execute

In [11]:
l1

['sudh', 'kumar', 'krish', 'naik']

In [12]:
for i in l1:
    if i == "kumar":
        break
    print(i)

sudh

In [13]:
l1

['sudh', 'kumar', 'krish', 'naik']

In [15]:
for i in l1:
    if i == "kumar" :
        break
    print(i)
else:
    print("if for loop is able to complete itself then only esle will execute")

sudh

In [16]:
l1

['sudh', 'kumar', 'krish', 'naik']

In [18]:
for i in l1:
    if i == "kumar":
        continue
    print(i)

sudh
krish
naik

In [19]:
for i in l1:
    if i == "kumar":
        continue
    print(i)
else:
    print("excute this if for loop is able to complete itself")

sudh
krish
naik
excute this if for loop is able to complete itself

In [20]:
range(5)

range(0, 5)

In [21]:
list(range(5))

[0, 1, 2, 3, 4]

In [22]:
list(range(0,5,1))

[0, 1, 2, 3, 4]

In [23]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [24]:
list(range(-10,0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [32]:
l1

['sudh', 'kumar', 'krish', 'naik']

In [33]:
len(l1)

4

In [34]:
list(range(len(l1)))

[0, 1, 2, 3]

In [36]:
for i in range(len(l1)):
    print(l1[i])

sudh
kumar
krish
naik

In [39]:
list(range(len(l1)-1,-1,-1))

[3, 2, 1, 0]

In [43]:
for i in range(len(l1)-1,-1,-1):
    print(l1[i])

naik
krish
kumar
sudh

In [44]:
for i in [3,2,1,0]:
    print(l1[i])

naik
krish
kumar
sudh

In [45]:
l2 = [23, 5,45,56,6,67,78,87,8998,9,9,8]

In [46]:
list(range(0,len(l2),2))

[0, 2, 4, 6, 8, 10]

In [47]:
for i in range(0,len(l2),2):
    print(l2[i])

23
45
6
78
8998
9

In [48]:
l2[0]

23

In [49]:
l = [1,2,3,4,7,8,98]

In [50]:
sum(l)

123

In [54]:
result = 0
for i in l:
    result = result +i
result

123

In [55]:
t = (1,2,3,4,4,5)

In [56]:
for i in t:
    print(i)

1
2
3
4
4
5

In [58]:
result = 0
for i in t:
    result = result +i
result

19

In [59]:
s = {1,2,3,4,5,"sudh","pwskills"}

In [60]:
for i in s:
    print(i)

1
2
3
4
5
sudh
pwskills

In [61]:
s1 = "pwsillls"

In [62]:
for i in s1:
    print(i)

p
w
s
i
l
l
l
s

In [63]:
d = {"name": "sudh", "class": "data science master", "topic": ["python","stats","machin learning","dl","cv","nlp","resume","interview"]}

In [64]:
d

{'name': 'sudh',
 'class': 'data science master',
 'topic': ['python',
  'stats',
  'machin learning',
  'dl',
  'cv',
  'nlp',
  'resume',
  'interview']}

In [65]:
d['name']

'sudh'

In [66]:
d.keys()

dict_keys(['name', 'class', 'topic'])

In [73]:
for i in d.keys():
    print(d[i])

sudh
data science master
['python', 'stats', 'machin learning', 'dl', 'cv', 'nlp', 'resume', 'interview']

In [68]:
d.values()

dict_values(['sudh', 'data science master', ['python', 'stats', 'machin learning', 'dl', 'cv', 'nlp', 'resume', 'interview']])

In [69]:
for i in d.values():
    print(i)

sudh
data science master
['python', 'stats', 'machin learning', 'dl', 'cv', 'nlp', 'resume', 'interview']

In [70]:
d.items()

dict_items([('name', 'sudh'), ('class', 'data science master'), ('topic', ['python', 'stats', 'machin learning', 'dl', 'cv', 'nlp', 'resume', 'interview'])])

In [71]:
for i in d.items():
    print(i)

('name', 'sudh')
('class', 'data science master')
('topic', ['python', 'stats', 'machin learning', 'dl', 'cv', 'nlp', 'resume', 'interview'])

In [75]:
name = "Alice"
age = 30
print("My name is {} and I am {} years old.".format(name, age))

My name is Alice and I am 30 years old.

In [76]:
s = "I want to become a data scientist"
s.split()

['I', 'want', 'to', 'become', 'a', 'data', 'scientist']

In [77]:
s.capitalize()

'I want to become a data scientist'

In [78]:
s.title()

'I Want To Become A Data Scientist'

In [80]:
s = "I want to become a data scientist"
for i in s.split():
    i.capitalize()
    print(i.title())

I
Want
To
Become
A
Data
Scientist

In [82]:
"pwskills"[::-1].upper().replace("SLLIKSWP", "pwskills").islower()

True