In [1]:
print("this is my print")

this is my print

In [4]:
l = [324,45,45,45]
len(l)

4

In [5]:
type(l)

list

In [6]:
#FUNCTION

In [8]:
def test():
    pass

In [11]:
def test1():
    print("this is my very very first function")
test1()

this is my very very first function

In [12]:
test1() + "sudh"

this is my very very first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [13]:
def test2():
    return "this is my very first return"

In [15]:
test2()

'this is my very first return'

In [16]:
test2() + "sudh"

'this is my very first returnsudh'

In [18]:
def test3():
    return "sudh",23,345.56,[1,2,3,3]

In [19]:
test3()

('sudh', 23, 345.56, [1, 2, 3, 3])

In [20]:
a,b,c,d = test3()

In [21]:
a

'sudh'

In [22]:
b

23

In [23]:
c

345.56

In [24]:
d

[1, 2, 3, 3]

In [25]:
a = 1
b = 4

In [26]:
a,b = 1,4

In [27]:
def test4():
    a= 5+6/7
    return a

In [28]:
test4()

5.857142857142857

In [31]:
def test5(a,b,c):
    d = a+b/c
    return d

In [32]:
test5()

TypeError: test5() missing 3 required positional arguments: 'a', 'b', and 'c'

In [33]:
test5(2,5,8)

2.625

In [34]:
def test6(a,b):
    return a+b
test6(3,4)

7

In [35]:
test6("sudh" , "kumar")

'sudhkumar'

In [36]:
test6([1,2,3,4,5], [4,5,6])

[1, 2, 3, 4, 5, 4, 5, 6]

In [37]:
l = [1,2,3,4,"sudh", "kumar",[1,2,3,4,5,6]]

In [38]:
l1 =[]
for i in l:
    if type(i) == int or type(i)== float:
        l1.append(i)

In [43]:
l1

[1, 2, 3, 4, 1, 2, 3, 4]

In [45]:
def test7(l):
    l1 =[]
    for i in l:
        if type(i) == int or type(i)== float:
           l1.append(i)
    return l1

In [46]:
test7(l)

[1, 2, 3, 4]

In [48]:
l

[1, 2, 3, 4, 'sudh', 'kumar', [1, 2, 3, 4, 5, 6]]

In [ ]:
def test8(a) :
    """this is my function to extract num data from"""
    l = []
    for i in a :
        if type(i) == list:
            for j in i:
                l.append(j)
        else :
            if type(i) == int or type(i) == float :
                l.append(i)
    return l

In [53]:
test8(l)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6]

In [54]:
l

[1, 2, 3, 4, 'sudh', 'kumar', [1, 2, 3, 4, 5, 6]]

In [62]:
def test10(a,b):
    return a+b

In [63]:
def test11(*args):
    return args

In [64]:
type(test11())

tuple

In [59]:
test11(1,2,3)

(1, 2, 3)

In [61]:
test11(1,2,3,"sudh", "kumar", [1,2,3,4,4])

(1, 2, 3, 'sudh', 'kumar', [1, 2, 3, 4, 4])

In [65]:
def test12(*sudh):
    return sudh

In [66]:
test12(1,2,34,4)

(1, 2, 34, 4)

In [67]:
def test13(*args,a):
    return args,a

In [69]:
test13(1,2,3,4)

TypeError: test13() missing 1 required keyword-only argument: 'a'

In [70]:
test13(1,2,3,4, a = 23)

((1, 2, 3, 4), 23)

In [71]:
def test14(c,d,a=23, b = 1,):
    return a,b,c,d

In [72]:
test14()

TypeError: test14() missing 2 required positional arguments: 'c' and 'd'

In [73]:
test14(3,4)

(23, 1, 3, 4)

In [74]:
test14(2,5,a=2342)

(2342, 1, 2, 5)

In [75]:
def test15(**kwargs):
    return kwargs

In [77]:
test15()

{}

In [78]:
type(test15())

dict

In [79]:
test15(a=[1,2,3,4], b="sudh", c=23.45)

{'a': [1, 2, 3, 4], 'b': 'sudh', 'c': 23.45}